.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

img {
    max-width: 400px;
    max-height: 400px;
}

button {
    margin-top: 5px ;
    margin-bottom: 5px
}

body {
    background-color: beige;
}

.justify-left {
    justify-content: left;
}

select {
    margin-left: 5px;
    margin-right: 5px;
}